<!-- Modal template -->
<div aria-hidden="true" aria-labelledby="modalTemplateLabel" class="modal fade" id="modalTemplate" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button class="btn btn-default my-2" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>