<div class="nutrition-label">
    <div class="header">
        <h3 class="nutrition-title"><b>Nutrition Facts</b></h3>
    </div>

    <div class="amount-per-serving">
        <p id="calories"><b>Calories</b> <input %} %} autocomplete="off" endif foodinfo if maxlength="4"
                                                name="calories" size="6" value="{{ foodinfo.calories }}" {% {%></p>
    </div>

    <div class="macros">
        <p><b>Total Fat</b> <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="totalfat"
                                   size="6" value="{{ foodinfo.totalfat }}" {% {%>g</p>

        <hr>

        <div class="indent">
            <p>Saturated Fat <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="saturatedfat"
                                    size="6" value="{{ foodinfo.saturatedfat }}" {% {%>g</p>
            <hr>
            <p>Trans Fat <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="transfat"
                                size="6" value="{{ foodinfo.transfat }}" {% {%>g</p>
        </div>

        <hr>

        <p><b>Cholestorol</b> <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="cholestorol"
                                     size="6" value="{{ foodinfo.cholestorol }}" {% {%>mg</p>

        <hr>

        <p><b>Sodium</b> <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="sodium"
                                size="6" value="{{ foodinfo.sodium }}" {% {%>mg</p>

        <hr>

        <p><b>Total Carbohydrate</b> <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="carbs"
                                            size="6" value="{{ foodinfo.carbs }}" {% {%>g</p>
        <hr>

        <div class="indent">
            <p>Dietary Fiber <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="fiber"
                                    size="6" value="{{ foodinfo.fiber }}" {% {%>g</p>
            <hr>
            <p>Sugars <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="sugars"
                             size="6" value="{{ foodinfo.sugars }}" {% {%>g</p>
        </div>

        <hr>

        <p><b>Protein</b> <input %} %} autocomplete="off" endif foodinfo if maxlength="4" name="protein"
                                 size="6" value="{{ foodinfo.protein }}" {% {%>g</p>
    </div>
</div>